@page
@model MediaBazaarWebsite.Pages.PreferedtimeModel
@{ 
    ViewData["Title"] = "Preferedtime"; 
}

<div class="preferred-time">
    <div class="row">
        <div class="pt-left">
            <form class="preferred-time-form" method="post">
                <h2>Select your preferred work time</h2>
                <div class="input">
                    <label asp-for="WeekDay">Select day:</label>
                    <select asp-for="WeekDay" name="Day">
                        <option value="Monday">Monday</option>
                        <option value="Tuesday">Tuesday</option>
                        <option value="Wednesday">Wednesday</option>
                        <option value="Thursday">Thursday</option>
                        <option value="Friday">Friday</option>
                        <option value="Saturday">Saturday</option>
                        <option value="Sunday">Sunday</option>
                    </select>
                </div>
                <div class="input">
                    <label asp-for="shift">Select shift:</label>
                    <select asp-for="shift" name="Shift">
                        <option value="Morning">Morning</option>
                        <option value="Afternoon">Afternoon</option>
                        <option value="Evening">Evening</option>
                    </select>
                </div>
                <div class="input">
                    <label asp-for="Preferred">Select day:</label>
                    <select asp-for="Preferred" name="Preferred">
                        <option value="Preferred">Preferred</option>
                        <option value="LeastPreferred">Least Preferred</option>
                    </select>
                </div>
                <input type="submit" class="submit-btn" value="Submit">
            </form>
        </div>
        <div class="pt-right">
            <h2>Work Preference:</h2>
            <table class="pwt-preference">
                <tr>
                    <th>Days</th>
                    @for (int i = 0; i < 3; i++)
                    {
                        <th>
                            @Model.Shift.ToString()
                            <p style="visibility:hidden"> @Model.ShiftIncrease()</p>
                        </th>
                    }
                </tr>

                    @for (int i = 0; i < 7; i++)
                    {
                    <tr>
                        <td>
                            @Model.Day.ToString()
                        </td>


                        @if (@Model.IsWorkingToday() == 1)
                        {
                            <td style="background-color: green"> </td>
                        }
                        else if (@Model.prefered == 0)
                        {
                            <td style="background-color: red"> </td>
                        }
                        else
                        {
                            <td style="background-color: yellow"> </td>
                        }

                        @if (@Model.IsWorkingToday() == 1)
                        {
                            <td style="background-color: green"> </td>
                        }
                        else if (@Model.prefered == 0)
                        {
                            <td style="background-color: red"> </td>
                        }
                        else
                        {
                            <td style="background-color: yellow"> </td>
                        }

                        @if (@Model.IsWorkingToday() == 1)
                        {
                            <td style="background-color: green"> </td>
                        }
                        else if (@Model.prefered == 0)
                        {
                            <td style="background-color: red"> </td>
                        }
                        else
                        {
                            <td style="background-color: yellow"> </td>
                        }
                    </tr>
                }
                </table>
        </div>
    </div>
</div>


@*<body>
    <div class="container">
        <div>

            <p>  Welcome, @User.Identity.Name</p>

            <h2>Employee Prefered Work Time</h2>
            <form class="prefered-time"  method="post">
                <table cellpadding="10" cellspacing="10">
                    <tr>
                        <th>Day</th>
                        <th>Shift</th>
                    </tr>
                    @foreach (var item in Model.pwt)
                    {

                        <tr>
                            <td>@item.Day</td>
                            <td>
                                <select id="Shift" name="Shift" asp-items="@Model.Prefereds">
                                    <option value="0">@item.Shift</option>
                                </select>
                            </td>
                        </tr>
                    }
                </table>

                <input type="submit" value="Submit" asp-page-handler="Submit" />
            </form>
        </div>
    </div>
</body>

<script type="text/javascript">
    $("body").on("change", "#shift", function () {
        $("input[name=ShiftType]").val($(this).find("option:selected").text());
    });
</script>
<script type="text/javascript">
    $("body").on("change", "#prefered", function () {
        $("input[name=preferedType]").val($(this).find("option:selected").text());
    });
</script>*@