@page
@model MediaBazzar.Pages.ScheduleModel
@{ ViewData["Title"] = "Schedule"; }
<style>
</style>
<body>
    <div class="container">
        <div>
            <h2>Employee schedule</h2>

            <hr />

            <table>
                <tr>
                    <th>Days</th>
                    @for (int i = 0; i < 3; i++)
                    {
                        <th>
                            @Model.Shift.ToString()
                            <p style="visibility:hidden"> @Model.ShiftIncrease()</p>
                        </th>
                    }
                </tr>
                    @for (int i = 0; i < 7; i++)
                    {
                            <tr>
                                <td>
                                    @Model.Day.ToString()
                                    <p style="visibility:hidden"> @Model.DayIncrease()</p>
                                </td>


                                @if (@Model.IsWorkingToday().morning)
                                {
                                    <td style="background-color: green"> </td>
                                }
                                else
                                {
                                    <td style="background-color: red"> </td>
                                }

                                @if (@Model.IsWorkingToday().afternoon)
                                {
                                    <td style="background-color: green"> </td>
                                }
                                else
                                {
                                    <td style="background-color: red"> </td>
                                }
                                @if (@Model.IsWorkingToday().evening)
                                {
                                    <td style="background-color: green"> </td>
                                }
                                else
                                {
                                    <td style="background-color: red"> </td>
                                }
                            </tr>
                      }
                </table>
        </div>
    </div>
</body>
